*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}